@page
@model FE.Pages.Manager.ManageOrder.IndexModel
@{
    ViewData["Title"] = "Order Management";
}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Quản lý đơn hàng
    </div>
    <div class="card-body">
        <table class="table" id="orderTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ngày tạo</th>
                    <th>Ngày cập nhật</th>
                    <th>Số tiền</th>
                    <th>Khách hàng</th>
                    <th>Địa chỉ</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody id="orderList" class="font-weight-light">
            </tbody>
        </table>
    </div>
</div>
<!-- Modal Chi tiết Đơn Hàng -->
<div class="modal fade" id="orderDetailModal" tabindex="-1" aria-labelledby="orderDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderDetailModalLabel">Chi tiết đơn hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="orderDetailContent">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModalLabel">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="notificationMessage">
                <!-- Nội dung thông báo sẽ được chèn vào đây -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorNotificationModal" tabindex="-1" aria-labelledby="errorNotificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorNotificationModalLabel">Thông báo lỗi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="errorNotificationMessage">
                <!-- Nội dung thông báo lỗi sẽ được chèn vào đây -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
    @using Helpers;
    @using Models;

        var user = SessionHelper.GetObjectFromJson<User>(HttpContext.Session, "user");
        string token = null;
        if (user != null)
        {
            token = user.Token;
        }
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        getOrders();
        getUsers();
        document.getElementById('btnCreateOrder').addEventListener('click', showCreate);
        document.getElementById('createUserId').addEventListener('change', function () {
            getAddresses(this.value, 'createAddressId');
        });
        document.getElementById('updateUserId').addEventListener('change', function () {
            getAddresses(this.value, 'updateAddressId');
        });
        document.getElementById('createOrderForm').addEventListener('submit', createOrder);
        document.getElementById('updateOrderForm').addEventListener('submit', updateOrder);
        const refundButtons = document.querySelectorAll('#btnRefund');
        // Duyệt qua từng button và thêm sự kiện click
        refundButtons.forEach(button => {
            button.addEventListener('click', async () => {
                try {
                    // Lấy thông tin đơn hàng từ thuộc tính data-order của button
                    const orderId = JSON.parse(button.getAttribute('data-order-id'));

                    // Gọi hàm confirmRefund để xác nhận hoàn trả
                    const result = await confirmRefund(orderId);
                    // Xử lý kết quả nếu cần
                    console.log('Confirmed refund successfully:', result);
                    showSuccessNotification('Thành công hoàn trả');
                } catch (error) {
                    console.error('Failed to confirm refund:', error);
                    // Xử lý lỗi nếu cần
                    // Ví dụ: hiển thị thông báo lỗi cho người dùng, ghi log, ...
                    // Hiển thị thông báo lỗi cho người dùng
                    showErrorNotification('Xác nhận hoàn trả không thành công. Vui lòng thử lại sau.');
                }
            });
        });
    });

    async function getOrders() {
        try {
            const token = sessionStorage.getItem('token');
            const response = await fetch('http://localhost:5215/odata/Order', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer @token`
                }
            });
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const data = await response.json();
            console.log('Order Respone: ', data);
            const orders = data.value || data.$values;
            const orderList = document.getElementById('orderList');
            orderList.innerHTML = '';
            let sequenceNumber = 1;
            for (const order of orders) {
                const createAt = new Date(order.createAt).toLocaleDateString('vi-VN');
                const updateAt = new Date(order.updateAt).toLocaleDateString('vi-VN');
                const address = await getOrderAddress(order.addressId);
                const statusName = await getOrderStatus(order.orderStatusId);
                    const buyerName = await getBuyerName(order.buyerId);
                const tr = document.createElement('tr');
                tr.innerHTML = `<td>${sequenceNumber}</td>
                                        <td>${createAt}</td>
                                        <td>${updateAt}</td>
                                        <td>${order.totalAmount}</td>
                                                <td>${buyerName}</td>
                                        <td>${address}</td>
                                        <td>${statusName}</td>
                                        <td>
                                                    <button class="btn btn-primary btn-sm btnDetail" data-order-id='${order.id}'>Chi tiết</button>
                                        </td>
                                        `;
                    if (order.orderStatusId == 6) {
                        const refundButton = document.createElement('td');
                        refundButton.innerHTML = `<button class="btn btn-primary btn-sm btnRefund" id="btnRefund" data-order-id='${order.id}'>Xác nhận hoàn trả</button>`;
                        tr.appendChild(refundButton);
                    } else {
                        tr.appendChild(document.createElement('td'));
                    }
                orderList.appendChild(tr);
                sequenceNumber++;
            }
                const detailButtons = document.querySelectorAll('.btnDetail');
                detailButtons.forEach(button => {
                    button.addEventListener('click', (event) => {
                        const orderId = event.target.getAttribute('data-order-id');
                        openOrderDetailModal(orderId);
                    });
                });
        } catch (error) {
            console.error('Failed to fetch orders:', error);
            showErrorNotification('Không thể tải đơn hàng.');
        }
    }
    $(document).ready(function () {
        // Sử dụng sự kiện 'click' với jQuery để xác nhận hoàn trả
        const token = sessionStorage.getItem('token');
        $(document).on('click', '#btnRefund', async function () {
            try {
                // Lấy thông tin orderId từ thuộc tính data-order-id của button
                const orderId = $(this).data('order-id');
                // Gọi AJAX để xác nhận hoàn trả
                $.ajax({
                    url: `http://localhost:5215/odata/Order/confirm-refund?orderId=${orderId}`,
                    type: 'PUT',
                    headers: {
                        'Authorization': `Bearer @token`  // Thêm header Authorization nếu cần
                    },
                    success: function (result) {
                        console.log('Confirmed refund successfully:', result);
                        showSuccessNotification('Thành công hoàn trả');
                        
                        getOrders(); 
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to confirm refund:', error);
                        // Xử lý lỗi nếu cần
                        showErrorNotification('Xác nhận hoàn trả không thành công. Vui lòng thử lại sau.');
                    }
                });
            } catch (error) {
                console.error('Failed to confirm refund:', error);
                // Xử lý lỗi nếu cần
                showErrorNotification('Xác nhận hoàn trả không thành công. Vui lòng thử lại sau.');
            }
        });
    });
        async function getBuyerName(buyerId) {
            const apiUrl = `http://localhost:5215/odata/User/userAdmin?filter=id eq ${buyerId}`;
            try {
                const response = await fetch(apiUrl);
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                const data = await response.json();
                const user = data.$values[0];
                return user ? user.userName : 'Không rõ';
            } catch (error) {
                console.error('Failed to fetch user details:', error);
                return 'Không rõ';
            }
        }
    async function getOrderAddress(addressId) {
        try {
            const token = sessionStorage.getItem('token');
            let response = await fetch(`http://localhost:5215/odata/Address?$filter=id eq ${addressId}`, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            let data = await response.json();
            const address = data.value ? data.value[0] : data.$values[0];
            const districtName = await fetchDistrictName(address.districtId);
            const wardName = await fetchWardName(address.wardId);
            return `${address.houseNumber} ${address.street}, ${wardName}, ${districtName}`;
        } catch (error) {
            console.error('Error fetching address:', error);
            return 'Không tìm thấy địa chỉ';
        }
    }
    async function getOrderStatus(orderStatusId) {
        try {
            const token = sessionStorage.getItem('token');
            const response = await fetch(`http://localhost:5215/odata/Order/OrderStatus?$filter=id eq ${orderStatusId}`, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });
            if (!response.ok) {
                throw new Error(`Failed to fetch status: ${response.status} - ${response.statusText}`);
            }
            const data = await response.json();
            if (data.$values && data.$values.length > 0) {
                return data.$values[0].name;
            } else {
                throw new Error('Empty response or invalid data format');
            }
        } catch (error) {
            console.error('Error fetching status:', error);
            throw error;
        }
    }
    async function fetchDistrictName(districtId) {
        const apiUrl = `http://localhost:5215/odata/Districts?$filter=id eq ${districtId}`;
        const token = sessionStorage.getItem('token');
        try {
            const response = await fetch(apiUrl, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const data = await response.json();
            const district = data.value ? data.value[0] : data.$values[0];
            return district ? district.name : 'Không tìm thấy';
        } catch (error) {
            console.error('Error fetching district name:', error);
            return 'Không tìm thấy';
        }
    }
    async function fetchWardName(wardId) {
        const apiUrl = `http://localhost:5215/odata/Wards?$filter=id eq ${wardId}`;
        const token = sessionStorage.getItem('token');
        try {
            const response = await fetch(apiUrl, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const data = await response.json();
            const ward = data.value ? data.value[0] : data.$values[0];
            return ward ? ward.name : 'Không tìm thấy';
        } catch (error) {
            console.error('Error fetching ward name:', error);
            return 'Không tìm thấy';
        }
    }
    async function showCreate() {
        const createModal = new bootstrap.Modal(document.getElementById('createOrderModal'));
        createModal.show();
        const userSelect = document.getElementById('createUserId');
        const addressSelect = document.getElementById('createAddressId');
        const statusSelect = document.getElementById('createOrderStatusId');

        // Add event listener for save button
        document.getElementById('createOrderForm').addEventListener('submit', createOrder);
    }
    async function createOrder(event) {
        event.preventDefault();
        const token = sessionStorage.getItem('token');
        const userId = document.getElementById('createUserId').value;
        const addressId = document.getElementById('createAddressId').value;
        const totalAmount = document.getElementById('createTotalAmount').value;
        const orderStatusId = document.getElementById('createOrderStatusId').value;
        try {
            const response = await fetch('http://localhost:5215/odata/Order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({
                    buyerId: userId,
                    addressId: addressId,
                    totalAmount: totalAmount,
                    orderStatusId: orderStatusId
                })
            });
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const createModal = bootstrap.Modal.getInstance(document.getElementById('createOrderModal'));
            createModal.hide();
            showSuccessNotification('Tạo đơn hàng thành công.');
            getOrders();
        } catch (error) {
            console.error('Failed to create order:', error);
            showErrorNotification('Không thể tạo đơn hàng.');
        }
    }
    async function fetchUsers() {
        try {
            const token = sessionStorage.getItem('token');
            const response = await fetch('http://localhost:5215/odata/AppUsers', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const data = await response.json();
            return data.value || data.$values;
        } catch (error) {
            console.error('Failed to fetch users:', error);
            showErrorNotification('Không thể tải danh sách người dùng.');
        }
    }
    async function fetchUserAddresses(userId) {
        try {
            const token = sessionStorage.getItem('token');
            const response = await fetch(`http://localhost:5215/odata/Address?$filter=AppUserId eq ${userId}`, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const data = await response.json();
            return data.value || data.$values;
        } catch (error) {
            console.error('Failed to fetch addresses:', error);
            showErrorNotification('Không thể tải danh sách địa chỉ.');
        }
    }
    async function fetchOrderStatuses() {
        try {
            const token = sessionStorage.getItem('token');
            const response = await fetch('http://localhost:5215/odata/OrderStatus', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const data = await response.json();
            return data.value || data.$values;
        } catch (error) {
            console.error('Failed to fetch order statuses:', error);
            showErrorNotification('Không thể tải trạng thái đơn hàng.');
        }
    }
        function showErrorNotification(message) {
            const errorNotificationMessage = document.getElementById('errorNotificationMessage');
            if (errorNotificationMessage) {
                errorNotificationMessage.textContent = message;
                const errorNotificationModal = new bootstrap.Modal(document.getElementById('errorNotificationModal'));
                errorNotificationModal.show();
            } else {
                console.error('Error notification modal element not found');
            }
        }
        function showSuccessNotification(message) {
            const notificationMessage = document.getElementById('notificationMessage');
            if (notificationMessage) {
                notificationMessage.textContent = message;
                const notificationModal = new bootstrap.Modal(document.getElementById('notificationModal'));
                notificationModal.show();
            } else {
                console.error('Notification modal element not found');
            }
        }
    async function getUsers() {
        try {
            const token = sessionStorage.getItem('token');
            const response = await fetch('http://localhost:5215/odata/User/UserAdmin', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });
            const data = await response.json();
            if (Array.isArray(data.value)) {
                populateUserOptions(data.value, 'createUserId');
                populateUserOptions(data.value, 'updateUserId');
            } else if (Array.isArray(data.$values)) {
                populateUserOptions(data.$values, 'createUserId');
                populateUserOptions(data.$values, 'updateUserId');
            } else {
                throw new Error('Invalid data format');
            }
        } catch (error) {
            console.error('Error fetching users:', error);
        }
    }
    function populateUserOptions(users, selectId) {
        const select = document.getElementById(selectId);
        select.innerHTML = '<option value="">Chọn người dùng</option>';
        users.forEach(user => {
            const option = document.createElement('option');
            option.value = user.id;
            option.textContent = user.userName;
            select.appendChild(option);
        });
    }
    async function getAddresses(userId, addressElementId) {
        try {
            const token = sessionStorage.getItem('token');
            const userId = document.getElementById('createUserId').value;
            const response = await fetch(`http://localhost:5215/odata/Address/user/${userId}`, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });
            const data = await response.json();
            if (Array.isArray(data.value)) {
                populateAddressOptions(data.value, addressElementId);
            } else if (Array.isArray(data.$values)) {
                populateAddressOptions(data.$values, addressElementId);
            } else {
                throw new Error('Invalid data format');
            }
        } catch (error) {
            console.error('Error fetching addresses:', error);
        }
    }
    function populateAddressOptions(addresses, selectId) {
        const select = document.getElementById(selectId);
        select.innerHTML = '<option value="">Chọn địa chỉ</option>';
        addresses.forEach(address => {
            const option = document.createElement('option');
            option.value = address.id;
            option.textContent = `${address.houseNumber} ${address.street}`;
            select.appendChild(option);
        });
    }
    async function getOrderStatusModal() {
        try {
            const token = sessionStorage.getItem('token');
            const response = await fetch('http://localhost:5215/odata/Order/OrderStatus', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });
            const data = await response.json();
            if (Array.isArray(data.value)) {
                populateOrderStatusOptions(data.value, 'createOrderStatusId');
                populateOrderStatusOptions(data.value, 'updateOrderStatusId');
            } else if (Array.isArray(data.$values)) {
                populateOrderStatusOptions(data.$values, 'createOrderStatusId');
                populateOrderStatusOptions(data.$values, 'updateOrderStatusId');
            } else {
                throw new Error('Invalid data format');
            }
        } catch (error) {
            console.error('Error fetching orderStatus:', error);
        }
    }
    function populateOrderStatusOptions(orderStatus, selectId) {
        const select = document.getElementById(selectId);
        select.innerHTML = '<option value="">Chọn trạng thái</option>';
        orderStatus.forEach(order => {
            const option = document.createElement('option');
            option.value = order.id;
            option.textContent = order.name;
            select.appendChild(option);
        });
    }
    async function confirmRefund(orderId) {
        try {     
            const token = sessionStorage.getItem('token');
            console.log('Token:', token);
            if (!token) {
                throw new Error('Token not found in sessionStorage');
            }
            const url = `http://localhost:5215/odata/Order/confirm-refund?orderId=${orderId}`;
            const response = await fetch(url, {
                method: 'PUT',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            const data = await response.json();
            console.log('Confirm refund result:', data); // Log kết quả trả về từ API (nếu cần)
            // Xử lý kết quả thành công nếu cần
            return data; // Trả về dữ liệu từ API nếu cần sử dụng tiếp sau này
        } catch (error) {
            console.error('Error confirming refund:', error);
            // Xử lý lỗi nếu cần
            throw error; // Ném lỗi ra ngoài để xử lý tiếp
        }

    }
        function openOrderDetailModal(orderId) {
            // API endpoint with orderId parameter
            const apiUrl = `http://localhost:5215/odata/Order/OrderDetailWithNote?orderId=${orderId}`;

            // Fetch order details from the API
            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    // Build the content for the modal
                    let content = '';

                    // Iterate through the order details
                    data.$values.forEach(detail => {
                        content += `
                            <div class="order-detail">
                                <p><strong>Ghi chú:</strong> ${detail.note}</p>
                                <p><strong>Trạng thái:</strong> ${detail.status}</p>
                                <hr>
                            </div>
                        `;
                    });

                    // Update modal content with order details
                    const orderDetailContent = document.getElementById('orderDetailContent');
                    orderDetailContent.innerHTML = content;

                    // Show the modal
                    const orderDetailModal = new bootstrap.Modal(document.getElementById('orderDetailModal'));
                    orderDetailModal.show();
                })
                .catch(error => {
                    console.error('Error fetching order details:', error);
                });
        }
</script>

}