@page
@model FE.Pages.Admin.MilkManagement.IndexModel
@{
}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Milk Management
    </div>
    <div class="p-4">
        <button class="btn btn-success" id="btnCreateMilk">
            Create new milk
        </button>
    </div>
    <div class="card-body">
        <table class="table" id="milkTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            <tbody class="font-weight-light">
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Milk</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="createForm">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="createName" class="form-label">Name: </label>
                        <input type="text" class="form-control" required id="createName">
                    </div>
                    <div class="mb-3">
                        <label for="createDescription" class="form-label">Description: </label>
                        <textarea type="text" class="form-control" required id="createDescription" rows="4"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="createPrice" class="form-label">Price: </label>
                        <input type="number" class="form-control" required id="createPrice">
                    </div>
                    <div class="mb-3">
                        <label for="createUserManual" class="form-label">User Manual: </label>
                        <input type="text" class="form-control" required id="createUserManual">
                    </div>
                    <div class="mb-3">
                        <label for="createWarning" class="form-label">Warning: </label>
                        <input type="text" class="form-control" required id="createWarning">
                    </div>
                    <div class="mb-3">
                        <label for="createPreserveInstructions" class="form-label">Preservation Instruction: </label>
                        <input type="text" class="form-control" required id="createPreserveInstructions">
                    </div>
                    <div class="mb-3">
                        <label for="createBrand" class="form-label">Brand: </label>
                        <select type="text" class="form-control" id="createBrand"></select>
                    </div>
                    <div class="mb-3">
                        <label for="createCategory" class="form-label">Category: </label>
                        <select type="text" class="form-control" id="createCategory"></select>
                    </div>
                    <div class="mb-3">
                        <label for="createMilkAge" class="form-label">Milk Age: </label>
                        <select type="text" class="form-control" id="createMilkAge"></select>
                    </div>
                    <div class="mb-3">
                        <label for="createSupplier" class="form-label">Supplier: </label>
                        <select type="text" class="form-control" id="createSupplier"></select>
                    </div>
                    <div class="mb-3">
                        <label for="imageUpload" class="form-label">Upload Image</label>
                        <input type="file" class="form-control" id="imageUpload">
                        <img src="" id="imageDisplay" style="display:none;width:300px;" />
                    </div>
                    <div class="mb-3">
                        <label for="createImageUrl" class="form-label">Image Url: </label>
                        <input type="text" class="form-control" disabled id="createImageUrl">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" id="createMilk">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Milk</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="updateForm">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="updateId" class="form-label">Id: </label>
                        <input type="text" class="form-control" disabled id="updateId">
                    </div>
                    <div class="mb-3">
                        <label for="updateName" class="form-label">Name: </label>
                        <input type="text" class="form-control" required id="updateName">
                    </div>
                    <div class="mb-3">
                        <label for="updateDescription" class="form-label">Description: </label>
                        <textarea type="text" class="form-control" required id="updateDescription" rows="4"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="updatePrice" class="form-label">Price: </label>
                        <input type="number" class="form-control" required id="updatePrice">
                    </div>
                    <div class="mb-3">
                        <label for="updateUserManual" class="form-label">User Manual: </label>
                        <input type="text" class="form-control" required id="updateUserManual">
                    </div>
                    <div class="mb-3">
                        <label for="updateWarning" class="form-label">Warning: </label>
                        <input type="text" class="form-control" required id="updateWarning">
                    </div>
                    <div class="mb-3">
                        <label for="updatePreserveInstructions" class="form-label">Preservation Instruction: </label>
                        <input type="text" class="form-control" required id="updatePreserveInstructions">
                    </div>
                    <div class="mb-3">
                        <label for="updateBrand" class="form-label">Brand: </label>
                        <select type="text" class="form-control" id="updateBrand"></select>
                    </div>
                    <div class="mb-3">
                        <label for="updateCategory" class="form-label">Category: </label>
                        <select type="text" class="form-control" id="updateCategory"></select>
                    </div>
                    <div class="mb-3">
                        <label for="updateMilkAge" class="form-label">Milk Age: </label>
                        <select type="text" class="form-control" id="updateMilkAge"></select>
                    </div>
                    <div class="mb-3">
                        <label for="updateSupplier" class="form-label">Supplier: </label>
                        <select type="text" class="form-control" id="updateSupplier"></select>
                    </div>
                    <div class="mb-3">
                        <label for="updateImageUpload" class="form-label">Upload Image</label>
                        <input type="file" class="form-control" id="updateImageUpload">
                        <img src="" id="updateImageDisplay" style="display:none;width:300px;" />
                    </div>
                    <div class="mb-3">
                        <label for="updateImageUrl" class="form-label">Image Url: </label>
                        <input type="text" class="form-control" disabled id="updateImageUrl">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" id="updateMilk">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index:9999;">
    <div id="errorToast" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true" style=" width: 400px; height:200px;">
        <div class="toast-header">
            <strong class="me-auto fs-2">Notification</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body fs-3 text-white" id="errorToastContent">
        </div>
    </div>
</div>

@section Scripts {
    @{
    @using Helpers;
    @using Models;

        var user = SessionHelper.GetObjectFromJson<User>(HttpContext.Session, "user");
        string token = null;
        if (user != null)
        {
            token = user.Token;
        }
    }
    <script>
        $(document).ready(function () {
            const toastLiveExample = document.getElementById('errorToast');
            const toastContent = document.getElementById('errorToastContent');
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
            function ShowErrorToast(message = 'Something went wrong') {

                toastContent.innerHTML = `<strong> ${message} </strong>`;
                toastBootstrap.show();
            }
            var milkTable;
            GetMilks();
            function GetMilks() {
                milkTable = $('#milkTable').DataTable({
                    ajax: {
                        url: 'http://localhost:5215/odata/Milk',
                        dataSrc: '$values'
                    },
                    columns: [
                        { data: 'id' },
                        { data: 'name' },
                        { data: 'description' },
                        { data: 'quantity' },
                        { data: 'price' },
                        {
                            data: null,
                            defaultContent: '<button class="btn btn-primary edit">Edit</button>',
                            orderable: false
                        }
                    ]
                });
            }
            $('#milkTable').on('click', "button.edit", function () {
                var milkId = $(this).parents("tr").find("td:nth-child(1)").text();
                $.ajax({
                    url: "http://localhost:5215/odata/Category",
                    type: 'get',
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'Bearer ' + '@token'
                    },
                    success: function (result, status, xhr) {
                        if (result) {
                            $('#updateCategory').html('');
                            $.each(result.$values, function (index, value) {
                                $('#updateCategory').append($('<option>', {
                                    value: value.id,
                                    text: value.name
                                }));
                            });
                        } else {
                            ShowErrorToast('No category found');
                            document.getElementById('updateMilk').disabled = true;
                        }

                    },
                    error: function (xhr, status, error) {
                        ShowErrorToast();
                    }
                });
                $.ajax({
                    url: "http://localhost:5215/odata/Brands",
                    type: 'get',
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'Bearer ' + '@token'
                    },
                    success: function (result, status, xhr) {
                        if (result) {
                            $('#updateBrand').html('');
                            $.each(result.$values, function (index, value) {
                                $('#updateBrand').append($('<option>', {
                                    value: value.id,
                                    text: value.name
                                }));
                            });
                        } else {
                            ShowErrorToast('No brand found');
                            document.getElementById('updateMilk').disabled = true;
                        }

                    },
                    error: function (xhr, status, error) {
                        ShowErrorToast();
                    }
                });
                $.ajax({
                    url: "http://localhost:5215/odata/MilkAges",
                    type: 'get',
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'Bearer ' + '@token'
                    },
                    success: function (result, status, xhr) {
                        if (result) {
                            $('#updateMilkAge').html('');
                            $.each(result.$values, function (index, value) {
                                $('#updateMilkAge').append($('<option>', {
                                    value: value.id,
                                    text: `Từ ${value.min} đến ${value.max}`
                                }));
                            });
                        } else {
                            ShowErrorToast('No milk age found');
                            document.getElementById('updateMilk').disabled = true;
                        }

                    },
                    error: function (xhr, status, error) {
                        ShowErrorToast();
                    }
                });
                $.ajax({
                    url: "http://localhost:5215/odata/Supplier",
                    type: 'get',
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'Bearer ' + '@token'
                    },
                    success: function (result, status, xhr) {
                        if (result) {
                            $('#updateSupplier').html('');
                            $.each(result.$values, function (index, value) {
                                $('#updateSupplier').append($('<option>', {
                                    value: value.id,
                                    text: value.name
                                }));
                            });
                        } else {
                            ShowErrorToast('No supplier found');
                            document.getElementById('updateMilk').disabled = true;
                        }

                    },
                    error: function (xhr, status, error) {
                        ShowErrorToast();
                    }
                });
                $.ajax({
                    url: `http://localhost:5215/odata/Milk/${milkId}`,
                    type: 'get',
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'Bearer ' + '@token'
                    },
                    success: function (result, status, xhr) {
                        $('#updateId').val(result['id']);
                        $('#updateName').val(result['name']);
                        $('#updateDescription').val(result['description']);
                        $('#updatePrice').val(result['price']);
                        $('#updateUserManual').val(result['userManual']);
                        $('#updateWarning').val(result['warning']);
                        $('#updatePreserveInstructions').val(result['preserveInstructions']);
                        $('#updateBrand').val(result['brandId']);
                        $('#updateCategory').val(result['categoryId']);
                        $('#updateSupplier').val(result['supplierId']);
                        $('#updateImageUrl').val(result['imageUrl']);
                    },
                    error: function (xhr, status, error) {
                        ShowErrorToast();
                    }
                });
                $('#updateModal').modal('show');
            });
            document.getElementById('btnCreateMilk').addEventListener('click', function () {
                $.ajax({
                    url: "http://localhost:5215/odata/Category",
                    type: 'get',
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'Bearer ' + '@token'
                    },
                    success: function (result, status, xhr) {
                        if (result) {
                            $('#createCategory').html('');
                            $.each(result.$values, function (index, value) {
                                $('#createCategory').append($('<option>', {
                                    value: value.id,
                                    text: value.name
                                }));
                            });
                        } else {
                            ShowErrorToast('No category found');
                            document.getElementById('createMilk').disabled = true;
                        }

                    },
                    error: function (xhr, status, error) {
                        ShowErrorToast();
                    }
                });
                $.ajax({
                    url: "http://localhost:5215/odata/Brands",
                    type: 'get',
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'Bearer ' + '@token'
                    },
                    success: function (result, status, xhr) {
                        if (result) {
                            $('#createBrand').html('');
                            $.each(result.$values, function (index, value) {
                                $('#createBrand').append($('<option>', {
                                    value: value.id,
                                    text: value.name
                                }));
                            });
                        } else {
                            ShowErrorToast('No brand found');
                            document.getElementById('createMilk').disabled = true;
                        }

                    },
                    error: function (xhr, status, error) {
                        ShowErrorToast();
                    }
                });
                $.ajax({
                    url: "http://localhost:5215/odata/MilkAges",
                    type: 'get',
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'Bearer ' + '@token'
                    },
                    success: function (result, status, xhr) {
                        if (result) {
                            $('#createMilkAge').html('');
                            $.each(result.$values, function (index, value) {
                                $('#createMilkAge').append($('<option>', {
                                    value: value.id,
                                    text: `Từ ${value.min} đến ${value.max}`
                                }));
                            });
                        } else {
                            ShowErrorToast('No milk age found');
                            document.getElementById('createMilk').disabled = true;
                        }

                    },
                    error: function (xhr, status, error) {
                        ShowErrorToast();
                    }
                });
                $.ajax({
                    url: "http://localhost:5215/odata/Supplier",
                    type: 'get',
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'Bearer ' + '@token'
                    },
                    success: function (result, status, xhr) {
                        if (result) {
                            $('#createSupplier').html('');
                            $.each(result.$values, function (index, value) {
                                $('#createSupplier').append($('<option>', {
                                    value: value.id,
                                    text: value.name
                                }));
                            });
                        } else {
                            ShowErrorToast('No supplier found');
                            document.getElementById('createMilk').disabled = true;
                        }

                    },
                    error: function (xhr, status, error) {
                        ShowErrorToast();
                    }
                });
                $('#exampleModal').modal('show');
            });
            var addedMilk = {};
            document.getElementById('createMilk').addEventListener('click', function () {
                addedMilk = {
                    name: $("#createName").val(),
                    description: $("#createDescription").val(),
                    price: $("#createPrice").val(),
                    userManual: $("#createUserManual").val(),
                    warning: $("#createWarning").val(),
                    preserveInstructions: $("#createPreserveInstructions").val(),
                    brandId: $("#createBrand").val(),
                    categoryId: $("#createCategory").val(),
                    milkAgeId: $("#createMilkAge").val(),
                    supplierId: $("#createSupplier").val(),
                    imageUrl: $("#createImageUrl").val(),
                };
                if (!addedMilk.name ||
                    !addedMilk.description ||
                    !addedMilk.price ||
                    !addedMilk.userManual ||
                    !addedMilk.warning ||
                    !addedMilk.preserveInstructions ||
                    !addedMilk.brandId ||
                    !addedMilk.categoryId ||
                    !addedMilk.milkAgeId ||
                    !addedMilk.supplierId ||
                    !addedMilk.imageUrl) {
                        ShowErrorToast("Please fill in all fields");
                } else {
                    $.ajax({
                        url: "http://localhost:5215/odata/Milk",
                        type: 'post',
                        data: JSON.stringify(addedMilk),
                        processData: false,
                        contentType: "application/json",
                        headers: {
                            'Authorization': 'Bearer ' + '@token'
                        },
                        success: function (result, status, xhr) {
                            document.getElementById("createForm").reset();
                            milkTable.ajax.reload(null, false);
                            $('#exampleModal').modal('hide');
                        },
                        error: function (xhr, status, error) {
                            ShowErrorToast();
                        }
                    });
                }
            });
            var updateMilk = {};
            document.getElementById('updateMilk').addEventListener('click', function () {
                updateMilk = {
                    id: $("#updateId").val(),
                    name: $("#updateName").val(),
                    description: $("#updateDescription").val(),
                    price: $("#updatePrice").val(),
                    userManual: $("#updateUserManual").val(),
                    warning: $("#updateWarning").val(),
                    preserveInstructions: $("#updatePreserveInstructions").val(),
                    brandId: $("#updateBrand").val(),
                    categoryId: $("#updateCategory").val(),
                    milkAgeId: $("#updateMilkAge").val(),
                    supplierId: $("#updateSupplier").val(),
                    imageUrl: $("#updateImageUrl").val(),
                };
                console.log(updateMilk);
                if (!updateMilk.name ||
                    !updateMilk.description ||
                    !updateMilk.price ||
                    !updateMilk.userManual ||
                    !updateMilk.warning ||
                    !updateMilk.preserveInstructions ||
                    !updateMilk.brandId ||
                    !updateMilk.categoryId ||
                    !updateMilk.milkAgeId ||
                    !updateMilk.supplierId ||
                    !updateMilk.imageUrl) {
                    ShowErrorToast("Please fill in all fields");
                } else {
                    $.ajax({
                        url: `http://localhost:5215/odata/Milk`,
                        type: 'put',
                        data: JSON.stringify(updateMilk),
                        processData: false,
                        contentType: "application/json",
                        headers: {
                            'Authorization': 'Bearer ' + '@token'
                        },
                        success: function (result, status, xhr) {
                            milkTable.ajax.reload(null, false);
                            $('#updateModal').modal('hide');
                        },
                        error: function (xhr, status, error) {
                            ShowErrorToast();
                        }
                    });
                }
            });
            function uploadCreateImage(e) {
                document.getElementById("createMilk").disabled = true;
                let data = new FormData();
                data.append('file', e.target.files[0]);
                $.ajax({
                    url: "http://localhost:5215/api/Image",
                    type: 'post',
                    data: data,
                    processData: false,
                    contentType: false,
                    headers: {
                        'Authorization': 'Bearer ' + '@token'
                    },
                    success: function (result, status, xhr) {
                        $('#createImageUrl').val(result.link);
                        document.getElementById('imageDisplay').style.display = 'block';
                        document.getElementById('imageDisplay').src = result.link;
                        document.getElementById("createMilk").disabled = false;
                    },
                    error: function (xhr, status, error) {
                        ShowErrorToast("Error uploading image");
                    }
                });
            }
            document.getElementById('imageUpload').addEventListener('change', uploadCreateImage);
            function uploadUpdateImage(e) {
                document.getElementById("updateMilk").disabled = true;
                let data = new FormData();
                data.append('file', e.target.files[0]);
                $.ajax({
                    url: "http://localhost:5215/api/Image",
                    type: 'post',
                    data: data,
                    processData: false,
                    contentType: false,
                    headers: {
                        'Authorization': 'Bearer ' + '@token'
                    },
                    success: function (result, status, xhr) {
                        $('#updateImageUrl').val(result.link);
                        document.getElementById('updateImageDisplay').style.display = 'block';
                        document.getElementById('updateImageDisplay').src = result.link;
                        document.getElementById("updateMilk").disabled = false;
                    },
                    error: function (xhr, status, error) {
                        ShowErrorToast("Error uploading image");
                    }
                });
            }
            document.getElementById('updateImageUpload').addEventListener('change', uploadUpdateImage);
        });
    </script>
}


