@page
@model FE.Pages.Admin.BatchManagement.DetailsModel
@{
    var message = TempData["Message"];
}
<h1 class="text-center">Cập nhật lô</h1>
@if (message != null)
{
    <div>
        <span class="alert alert-success">@message</span>
    </div>
}
<form method="post" class="p-4" id="updateBatchForm">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="mb-3">
        <label for="batchId" class="form-label">Mã lô hàng: </label>
        <input type="number" class="form-control" id="batchId" asp-for="Batch.Id" />
        <span class="text-danger" asp-validation-for="Batch.Id"></span>
    </div>
    <div class="mb-3">
        <label for="importedDate" class="form-label">Ngày nhập: </label>
        <input type="datetime-local" class="form-control" required id="importedDate" asp-for="Batch.ImportDate" />
        <span class="text-danger" asp-validation-for="Batch.ImportDate"></span>
    </div>
    <div class="mb-3">
        <label for="expiredDate" class="form-label">Ngày hết hạn: </label>
        <input type="date" class="form-control" required id="expiredDate" asp-for="Batch.ExpiredDate" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
        <span class="text-danger" asp-validation-for="Batch.ExpiredDate"></span>
    </div>
    <div class="mb-3">
        <label for="importedPrice" class="form-label">Giá nhập: </label>
        <input type="number" class="form-control" required id="importedPrice" asp-for="Batch.ImportedPrice" />
        <span class="text-danger" asp-validation-for="Batch.ImportedPrice"></span>
    </div>
    <div class="mb-3">
        <label for="quantity" class="form-label">Số lượng: </label>
        <input type="number" class="form-control" required id="quantity" asp-for="Batch.Quantity" />
        <span class="text-danger" asp-validation-for="Batch.Quantity"></span>
    </div>
    <div class="mb-3">
        <label for="milkId" class="form-label">Sữa: </label>
        <select class="form-control" id="milkId" asp-for="Batch.MilkId" onchange="executeFunction()">
            @foreach (var milk in Model.Milks)
            {
                <option value="@milk.Id">@milk.Name</option>
            }
        </select>
        <p class="text-warning" id="currentMilkPrice">Giá sữa: </p>
        <span class="text-danger" asp-validation-for="Batch.MilkId"></span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary mt-3">Cập nhật</button>
</form>
        <form method="post" asp-page-handler="Delete">
            <input type="number" class="form-control" hidden id="batchId" asp-for="Batch.Id" />
                <button type="submit" class="btn btn-danger mt-3">Xoá</button>
        </form>
    </div>

@section Scripts {
    <script>
        var currentMilkPrice = 0;
        getInitialMilkPrice();
        function getInitialMilkPrice() {
            var milkId = document.getElementById('milkId').value;
            // your code here, could be an HTTP request using fetch or XMLHttpRequest
            // where you use the milkId as part of the request
            fetch('http://localhost:5215/odata/milk/' + milkId, { method: 'GET' }) // replace it with your api endpoint
                .then(response => response.json())
                .then(data => {
                    document.getElementById('currentMilkPrice').innerHTML = 'Giá sữa hiện tại: ' + data.price + ' VNĐ';
                    currentMilkPrice = data.price;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
        function executeFunction() {
            var milkId = document.getElementById('milkId').value;
            // your code here, could be an HTTP request using fetch or XMLHttpRequest
            // where you use the milkId as part of the request
            fetch('http://localhost:5215/odata/milk/' + milkId, { method: 'GET' }) // replace it with your api endpoint
                .then(response => response.json())
                .then(data => {
                    document.getElementById('currentMilkPrice').innerHTML = 'Giá sữa hiện tại: ' + data.price + ' VNĐ';
                    currentMilkPrice = data.price;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
        var form = document.getElementById('updateBatchForm');

        var importedPriceField = document.getElementById('importedPrice');
        var milkPriceParagraph = document.getElementById('currentMilkPrice');

        form.addEventListener('submit', function (e) {
            e.preventDefault();

            var milkPrice = parseFloat(milkPriceParagraph.innerText.split(': ')[1]);

            var importedPrice = parseFloat(importedPriceField.value);

            if (importedPrice < milkPrice) {
                form.submit();
            } else {
                var userResponse = window.confirm("Giá sữa hiện tại đang thấp hơn giá nhập!");
                if (userResponse) {
                    form.submit();
                }
            }
        });
    </script>
}